/* header */
.header {
    height: 559px;
}
.header-wraper {
    max-width: 1220px;
    width: 95%;
    height: 65px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 60px;
    
}
.get-consuting {
    width: 184px;
    height: 65px;
    background-color: #6B77E5;
    color: #FFFFFF;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 40px;
}
.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navigation ul {
    width: 601px;
    height: 22px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.banner {
    background-image: url(../images/Banner.png);
    max-width: 1920px;
    width: 100%;
    height: 458px;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 36px;
}
.blur {
    position: relative;
}
.banner-text {
    width: 565px;
    position: absolute;
    top: 142px;
    left: 173px;
    color: #FFFFFF;
}
.banner-text h5 {
    font-size: 18px;
    line-height: 26.31px;
}
.banner-text h3 {
    font-size: 60px;
    line-height: 66px;
}

/* section */
.section {
    padding-top: 180px;
}
.section-container{
    max-width: 1220px;
    width: 95%;
    margin: 0 auto;
}
.top {
    max-width: 1220px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.top-left,
.top-right {
    width: 585px;
}
.lets-talk {
    width: 585px;
}
.lets-talk h6 {
    font-size: 18px;
    line-height: 21.78px;
    color: #37393F;
    margin-bottom: 16px;
}
.lets-talk h3 {
    font-size: 40px;
    line-height: 48.4px;
    color: #37393F;
    margin-bottom: 11px;
}
.lets-talk p{
    font-size: 18px;
    line-height: 26.31px;
    color: #7D7D7D;
}
.contact-info {
    width: 367px;
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    margin-top: 33px;
}
.contact {
    display: flex;
    align-items: center;
    
}
.contact p {
    font-size: 16px;
    line-height: 21.63px;
    color:#7D7D7D ;
}
.icon {
    width: 68px;
    height: 68px;
    background-color: #F4F4F4;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 19px;
}
.phone {
    width: 281px;
}
.email {
    width: 282px;
}
.map {
    width: 367px;
}